<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sunnykwong.aurorabulb"
      android:versionName="1.0.3" android:versionCode="3">
    <application android:name=".AB" android:icon="@drawable/abicon" android:label="Aurora Bulb">
        <activity android:name=".ABPreviewActivity"
                  android:label="Aurora Bulb"
                  android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ABPrefActivity"
                  android:label="Aurora Bulb"
                  android:screenOrientation="nosensor">
        </activity>

        <activity android:name=".ABAnimActivity"
                  android:label="Aurora Bulb"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="nosensor">
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 