<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sunnykwong.omc" 
      android:versionCode="20" android:versionName="1.2.0">
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application android:name="com.sunnykwong.omc.OMC" 
    android:icon="@drawable/clockicon" 
    android:label="@string/app_name" 
    android:debuggable="true">
        <activity android:name="com.sunnykwong.omc.OMCPrefActivity"
                  android:screenOrientation="nosensor"
                  android:label="@string/app_name">
                  
<!--                  android:launchMode="singleTask"-->
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
        <activity android:name="com.sunnykwong.omc.OMCSkinnerActivity"
                  android:screenOrientation="nosensor"
                  android:label="OMC Theme Tester" android:icon="@drawable/rubeicon_mdpi"
                  android:theme="@android:style/Theme.Translucent"
                  android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
        <activity android:name="com.sunnykwong.omc.OMCThemePickerActivity"
                  android:screenOrientation="nosensor"
                  android:label="Theme Picker">
		</activity>
        <activity android:name="com.sunnykwong.omc.OMCThemeImportActivity"
                  android:screenOrientation="nosensor"
                  android:label="Theme Picker">
		</activity>
        <activity android:name="com.sunnykwong.omc.OMCThemeUnzipActivity"
                  android:screenOrientation="nosensor" 
                  android:theme="@android:style/Theme.Translucent">
<!--			This filter captures specially-written omc:// hyperlinks on websites-->
			<intent-filter>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="omc"/>
			</intent-filter>
<!--			This filter captures specially-written omcs:// hyperlinks on websites-->
			<intent-filter>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="omcs"/>
			</intent-filter>
<!--			This filter captures .omc files downloaded from websites-->
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="file" />
		        <data android:mimeType="*/*"/>
		        <data android:pathPattern=".*\\.omc" />
		    </intent-filter>
<!--			This filter captures .omc files copied to sdcard and clicked-->
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="file" />
		        <data android:pathPattern=".*\\.omc" />
		    </intent-filter>
		</activity>
        <activity android:name="com.sunnykwong.omc.OMCCreditsActivity"
                  android:screenOrientation="nosensor"
                  android:label="@string/app_name">
		</activity>
        <service android:enabled="true" android:name="com.sunnykwong.omc.OMCService"/>
        <receiver android:name="com.sunnykwong.omc.OMCAlarmReceiver">
			<intent-filter>
				<action android:name="com.sunnykwong.omc.FGSERVICE"/>
				<action android:name="com.sunnykwong.omc.BGSERVICE"/>
        		<category android:name="android.intent.category.DEFAULT" />  
			</intent-filter>
		</receiver>
        <receiver android:name="com.sunnykwong.omc.OMCConfigReceiver">
    		<intent-filter>
        		<action android:name="com.sunnykwong.omc.WIDGET_INDIRECT" />
                <data android:scheme="omc" />
    		</intent-filter>
		</receiver>
    	<receiver android:name="com.sunnykwong.omc.ClockWidget4x2" android:label="@string/widget_name4x2"
    	 android:enabled="true">
     		<meta-data android:name="android.appwidget.provider"
               android:resource="@xml/clockinfo4x2"/>
			<intent-filter>  
        		<action android:name="android.intent.action.BOOT_COMPLETED" />  
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        		<action android:name="com.sunnykwong.omc.WIDGET_REFRESH" />
         		<category android:name="android.intent.category.DEFAULT" />
    		</intent-filter>  
		</receiver>
	    <receiver android:name="com.sunnykwong.omc.ClockWidget4x1" android:label="@string/widget_name4x1" android:enabled="true">
     		<meta-data android:name="android.appwidget.provider"
               android:resource="@xml/clockinfo4x1"/>
			<intent-filter>  
        		<action android:name="android.intent.action.BOOT_COMPLETED" />  
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        		<action android:name="com.sunnykwong.omc.WIDGET_REFRESH" />
        		<category android:name="android.intent.category.DEFAULT" />  
    		</intent-filter>  
		</receiver>
	    <receiver android:name="com.sunnykwong.omc.ClockWidget3x1" android:label="@string/widget_name3x1" android:enabled="true">
     		<meta-data android:name="android.appwidget.provider"
               android:resource="@xml/clockinfo3x1"/>
			<intent-filter>  
        		<action android:name="android.intent.action.BOOT_COMPLETED" />  
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        		<action android:name="com.sunnykwong.omc.WIDGET_REFRESH" />
        		<category android:name="android.intent.category.DEFAULT" />  
    		</intent-filter>  
		</receiver>
	    <receiver android:name="com.sunnykwong.omc.ClockWidget2x1" android:label="@string/widget_name2x1" android:enabled="true">
     		<meta-data android:name="android.appwidget.provider"
               android:resource="@xml/clockinfo2x1"/>
			<intent-filter>  
        		<action android:name="android.intent.action.BOOT_COMPLETED" />  
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        		<action android:name="com.sunnykwong.omc.WIDGET_REFRESH" />
        		<category android:name="android.intent.category.DEFAULT" />  
    		</intent-filter>  
		</receiver>
     </application>
</manifest> 