<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.sunnykwong.HCLW" android:versionCode="1"
	android:versionName="1.0.0">
	<application android:icon="@drawable/icon" android:label="Honeycomb Live Wallpaper" android:name="com.sunnykwong.HCLW.HCLW">
		<service android:enabled="true" android:name="com.sunnykwong.HCLW.HCLWService"
			android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/livewallpaper" />
		</service>
		<activity android:name="com.sunnykwong.HCLW.HCLWPrefsActivity"
			android:exported="true"/>
	</application>

	<uses-sdk android:minSdkVersion="7" />
	<uses-feature android:name="android.software.live_wallpaper" />

</manifest> 