<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunnykwong.omwpp"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="13" />

    <application
        android:name=".OMWPP"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- Mobclix Required Parameter -->
        <meta-data
            android:name="com.mobclix.APPLICATION_ID"
            android:value="67f25acf-8902-401f-80ea-33c62a497d5d" />
        <service android:enabled="true" android:name=".DownloadService"/>
        <receiver android:name=".OMWPPReceiver" >
    		<intent-filter>
        		<action android:name="android.intent.action.WALLPAPER_CHANGED" />
         		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </receiver>
        <activity
            android:name=".OneMoreWallpaperPickerActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="keyboardHidden|orientation|screenSize"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OMWPPAddPathActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        </application>

</manifest>